<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>お問い合わせフォーム - 送信完了ページ -</title>
    <link href="/Honoka-master/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>お問い合わせフォーム - 送信完了ページ -</h1>
      <a class="btn btn-default" href="/" role="button">戻る</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Honoka-master/dist/js/bootstrap.min.js"></script>
  </body>
</html>
